body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;

  #wrapper {
    border: 1px solid red;

    #slider {
      width: 100vw;
      height: 360px;
      background-image: url(http://placekitten.com/1440/400);
      background-size: cover;
      color: #fff;
      padding: 20px;

      h1 {
        font-size: 56px;
        text-transform: uppercase;
      }

      p {
        font-size: 42px;
        line-height: 1.4
      }
    }

    #teaser-section {
      display: flex;
      justify-content: center;
      align-items: center;

      .teaser {
        border: 1px dotted black;
        height: 200px;
        width: 100%;
        background-color: #fff;
      }
    }
  }
}