// Variablen
$font-default: Helvetica, sans-serif;
$bg-color-primary: #003A40;
$text-color-primary: #fff;

body {
  font-family: $font-default;
  color: $text-color-primary;
  background: $bg-color-primary
}
